@import url("http://fonts.googleapis.com/css?family=Cuprum&subset=latin,latin-ext");
#wowslider-container1 { 
	zoom: 1; 
	position: relative; 
	max-width:1065px;
	margin:0px 0px 0px 0px;
	z-index:90;
	border:none;
	text-align:left; /* reset align=center */
}
* html #wowslider-container1{ width:1065px }
#wowslider-container1 .ws_images ul{
	position:relative;
	width: 10000%; 
	height:auto;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
#wowslider-container1 .ws_images ul li{
	width:1%;
	line-height:0; /*opera*/
	float:left;
	font-size:0;
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container1 .ws_images{
	position: relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
#wowslider-container1 .ws_images a{
	width:100%;
	display:block;
	color:transparent;
}
#wowslider-container1 img{
	max-width: none !important;
}
#wowslider-container1 .ws_images img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
}
#wowslider-container1 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container1  .ws_bullets { 
	font-size: 0px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container1  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container1  .wsl{
	display:none;
}
#wowslider-container1 sound, 
#wowslider-container1 object{
	position:absolute;
}

#wowslider-container1 .ws_bullets a { 
	width:13px;
	height:13px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -1000px; 
	position:relative;
	margin-left:5px;
	color:transparent;
}
#wowslider-container1 .ws_bullets a.ws_selbull, #wowslider-container1 .ws_bullets a:hover{
	background-position: 0 100%;
} 
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	position:absolute;
	display:none;
	bottom:0;
	margin-top:0;
	z-index:60;
	height: 100%;
	width: 40px;
	background-color:#474747;
	background-repeat: no-repeat;
	background-position: center center;
	opacity:0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#wowslider-container1 a.ws_next{
	background-image: url(./arrow-next.png);
	right:0;
}
#wowslider-container1 a.ws_prev {
	background-image: url(./arrow-prev.png);
	left:0;
}
#wowslider-container1 a.ws_next:hover,#wowslider-container1 a.ws_prev:hover{
	background-color:#272727;
}
* html #wowslider-container1 a.ws_next,* html #wowslider-container1 a.ws_prev{display:block}
#wowslider-container1:hover a.ws_next, #wowslider-container1:hover a.ws_prev {display:block}

/*playpause*/
#wowslider-container1 .ws_playpause {
	display:none;
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -30px;
    z-index: 59;
}

#wowslider-container1:hover .ws_playpause {
	display:block;
}

#wowslider-container1 .ws_pause {
    background-image: url(./pause.png);
}

#wowslider-container1 .ws_play {
    background-image: url(./play.png);
}

#wowslider-container1 .ws_pause:hover, #wowslider-container1 .ws_play:hover {
    background-position: 100% 100% !important;
}/* bottom center */
#wowslider-container1  .ws_bullets {
    bottom: 0;
	left:50%;
	padding: 5px;
}
#wowslider-container1  .ws_bullets div{
	left:-50%;
}
#wowslider-container1 .ws-title{
	position:absolute;
	display:block;
	bottom: 20px;
	left: 40px;
	margin-right:40px;
	padding:7px;
	background:none;
	color:#FFFFFF;
	z-index: 50;
	font-family:'Cuprum', Impact, Charcoal, sans-serif;
	font-size: 35px;
	line-height: 35px;
	font-weight: bold;	
	text-transform: none;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	border-radius:0;
	opacity:1;
}
#wowslider-container1 .ws-title div{
	padding-top:5px;
	font-size: 20px;
	line-height: 22px;
	font-weight: normal;
}
#wowslider-container1 .ws_images ul{
	animation: wsBasic 39.6s infinite;
	-moz-animation: wsBasic 39.6s infinite;
	-webkit-animation: wsBasic 39.6s infinite;
}
@keyframes wsBasic{0%{left:-0%} 6.57%{left:-0%} 16.67%{left:-100%} 23.23%{left:-100%} 33.33%{left:-200%} 39.9%{left:-200%} 50%{left:-300%} 56.57%{left:-300%} 66.67%{left:-400%} 73.23%{left:-400%} 83.33%{left:-500%} 89.9%{left:-500%} }
@-moz-keyframes wsBasic{0%{left:-0%} 6.57%{left:-0%} 16.67%{left:-100%} 23.23%{left:-100%} 33.33%{left:-200%} 39.9%{left:-200%} 50%{left:-300%} 56.57%{left:-300%} 66.67%{left:-400%} 73.23%{left:-400%} 83.33%{left:-500%} 89.9%{left:-500%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 6.57%{left:-0%} 16.67%{left:-100%} 23.23%{left:-100%} 33.33%{left:-200%} 39.9%{left:-200%} 50%{left:-300%} 56.57%{left:-300%} 66.67%{left:-400%} 73.23%{left:-400%} 83.33%{left:-500%} 89.9%{left:-500%} }

